@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #14120b;
  --primary-text: #ffffff;
  --secondary: #cccccc;
  --teritary: #1d1b15;
  --acent: #f54e00;
}
header {
  background-color: var(--bg-color);
  max-width: 90%;
  margin: auto;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-text);
  /* border: 2px solid red; */
  font-weight: 400;
  margin: auto;
  font-family:
    "CursorGothic",
    "CursorGothic Fallback",
    system-ui,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  /* position: relative; */
}
.maincontainer {
  max-width: 90%;
  margin: auto;
}
nav {
  /* border: 2px solid red; */
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  padding-left: 0;
  position: fixed;
  width: 90%;
  top: 0;
  z-index: 10;
}
.logo {
  display: flex;
  align-items: center;
  width: 95px;
}

.navigation_links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 22px;
  font-size: 14px;
  padding: 8px 15px;
  align-items: center;
}
p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.login {
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 5px 12px;
  color: var(--primary-text);
  background-color: var(--bg-color);
}
.download {
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 5px 12px;
}
.login:hover {
  color: var(--secondary);
}
.download:hover {
  background-color: var(--secondary);
}
.navigation_links li:hover {
  color: var(--secondary);
  cursor: pointer;
}
.hero {
  margin-top: 152px;
}
.branding_text {
  margin-bottom: 22.2px;
  font-size: 26px;
}
.mainbtn {
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 100px;
}
.banner img {
  width: 100%;
  /* border: 2px solid red; */
}
.branding {
  margin: 50px 0 70px;
  font-size: 18px;
  text-align: center;
}
.branding p {
  margin-bottom: 16px;
}
.branding-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
.container {
  height: 6.25rem;
  /* border: 2px solid red; */
  border-radius: 5px;
  outline: 1px solid #33323179;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--teritary);
}
.container img {
  height: 2.5rem;
}
.agent-container {
  gap: 6rem;
  /* border:2px solid green; */
  display: grid;
  margin-bottom: 8rem;
}
.agent-section1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(22, 1fr);
  gap: 8px;
  border-radius: 5px;
  /* border: 2px solid blue;  */
  padding: 17px;
  background-color: var(--teritary);
}
.agent-text {
  /* border: 2px solid red; */
  grid-column-start: 1;
  grid-column-end: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  /* line-height: 1.6; */
  letter-spacing: 1px;
}
.subtext {
  color: var(--secondary);
  /* border: 2px solid red; */
}
.btn-link {
  margin-top: 15px;
  font-size: 18px;
  color: var(--acent);
}
.agentImage {
  /* border: 2px solid red; */
  width: full;
  grid-column-start: 9;
  grid-column-end: -1;
}
.agentImage img {
  border-radius: 5px;
}
.agent-section2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(22, 1fr);
  gap: 8px;
  border-radius: 5px;
  /* border: 2px solid blue;  */
  padding: 17px;
  background-color: var(--teritary);
}
.agentImage2 {
  /* border: 2px solid red; */
  grid-column-start: 1;
  grid-column-end: 10;
}
.agent-text2 {
  /* border: 2px solid red; */
  grid-column-start: 16;
  /* margin-right: 20px; */
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 1px;
}
.agentImage2 img {
  border-radius: 5px;
}
.update {
  margin: 0 1.5rem;
}
.testimonalContainer h2 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
}
/* .testimonalContainer {
  border: 2px solid red;
} */
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.cart {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  /* border: 2px solid blue; */
  border-radius: 5px;
  background-color: var(--teritary);
}
.imageContainer {
  display: flex;
  gap: 10px;
}
.imageContainer img {
  border-radius: 5px;
}
.role {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* .fronter{
  border: 2px solid green;
} */
.fronterHeading {
  font-size: 1.625rem;
  margin: 8rem 0 1rem;
}
.frontierContainer {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.fronteircart {
  /* border: 2px solid blue; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 5px;
  background-color: var(--teritary);
}
.cartText {
  font-size: 1.1rem;
}
.cartText span {
  color: var(--secondary);
}
.btn-fronteir {
  margin-top: 1rem;
  color: var(--acent);
}
.fronteircart img {
  border-radius: 5px;
}
.Changelog {
  /* border: 2px solid blue; */
  margin: 11rem 0;
}
.Changelog h3 {
  font-size: 1.65rem;
  line-height: 1.25;
  /* letter-spacing: -0.1em; */
  margin-bottom: 2rem;
}
.changelogContainer {
  display: grid;
  /* border: 2px solid green; */
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.changelogCart {
  /* border: 2px solid red; */
  background-color: var(--teritary);
  font-size: 1.1rem;
  padding: 15px 17px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 17px 20px;
}
.text-top {
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  padding-bottom: 8px;
}
.text-top button {
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 5px 12px;
  color: var(--secondary);
  background-color: var(--bg-color);
}
.link {
  color: var(--acent);
  font-size: 18px;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
}
.link:hover {
  color: #c84002;
}
.agentImage3 {
  /* border: 2px solid red; */
  /* width: full; */
  grid-column-start: 9;
  grid-column-end: -1;
}
.cursortext {
  color: var(--secondary);
  /* border: 2px solid red; */
  margin-right: 20px;
}
.recentHeadlightsContainer {
  background-color: var(--teritary);
}
.recentWraper {
  max-width: 90%;
  margin: 10rem auto;
  /* border: 2px solid blue; */
  padding: 89px 0;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  position: relative;
}
.maintext {
  grid-column-start: 1;
  grid-column-end: 7;
  align-self: start;
  position: sticky;
  top: 10%;
  /* z-index: 20; */
}
.rapper {
  grid-column-start: 9;
  grid-column-end: 19;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}
.recentcart {
  /* border: 2px solid red; */
  border-radius: 5px;
  padding: 13.4px 15px;
  background-color: #22201b;
}
.recentcart:hover {
  background-color: #26241e;
}
.box {
  margin-top: 1.2rem;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}
h1 {
  font-size: 4.5rem;
  margin-bottom: 8px;
}
.mainbtn {
  border: var(--teritary);
}
footer {
  /* border: 2px solid blue; */
  padding: 67px 20px;
  background-color: var(--teritary);
}
footer h3{
  color: var(--secondary);
  margin-bottom: 1rem;
}
.footContainer {
  display: grid;
  grid-template-columns:repeat(5,1fr);
  max-width: 90%;
  margin: 0 auto;
  /* border: 2px solid yellow; */
}
ul{
  list-style: none;
}
footer ul li{
  margin-bottom: 0.5rem;
}
footer a{
  text-decoration: none;
  color: var(--primary-text);
}
.arrow{
  color: var(--bg-color);
}
.arrow:hover{
  color:#ffffff;
}
.licence{
  max-width: 90%;
  margin: 2rem auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.licence_section1{
/* border:2px solid blue; */
display: flex;
gap: 8px;
font-size: 1.2rem;
color: var(--secondary);
}
.hoverme:hover{
  color: var(--primary-text);
}
.theme{
  /* border: 2px solid green; */
  display: flex;
  background-color: var(--teritary);
  gap: 10px;
}
/* .icons{
background-color: var(--bg-color);
padding: 4px 24px 4px 20px;
border-radius: 16px;
display: flex;
gap:18px
}
.tv{
  background-color: #302f2fda;
  padding: 4px;
  border-radius: 50%;
} */