@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #14120b;
  --primary-text: #ffffff;
  --secondary: #cccccc;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-text);
  max-width: 90%;
  border: 2px solid red;
  margin: auto;
  font-family: "Carrois Gothic";
}

nav {
  /* border: 2px solid red; */
  margin: 12px;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  padding-left: 0;
  position: static;
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
  width: 95px;
}

.navigation_links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 22px;
  font-size: 14px;
  padding: 8px 15px;
  align-items: center;
}
p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.login {
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 5px 12px;
  color: var(--primary-text);
  background-color: var(--bg-color);
}
.download {
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 5px 12px;
}
.login:hover {
  color: var(--secondary);
}
.download:hover {
  background-color: var(--secondary);
}
.navigation_links li:hover {
  color: var(--secondary);
  cursor: pointer;
}
.hero{
  margin-top: 112px;
}
.branding_text{
  margin-bottom: 22.2px;
}
.mainbtn{
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  /* margin-bottom:; */
}